header {
  height: 80px;
  background-color: rgba(0, 0, 0, 0.2);
}

header .title {
  font-size: 42px;
}

ul li {
  padding: 10px;
  margin: 10px;
  border: 1px solid;
  border-radius: 10px;
  width: 200px;
}

ul li {
  cursor: pointer;
}
