<header>
  <div class="text-3xl"><a [routerLink]="['/main']">Practice</a></div>
</header>
<div class="container">
  <div class="sidebar">
    <ul>
      <li><a [routerLink]="['./ng-model-feature']">[(NgModel)]</a></li>
      <li><a [routerLink]="['./ng-container-feature']">ng-container</a></li>
      <li><a [routerLink]="['./ng-model-feature']">双方向バインディング</a></li>
      <li><a [routerLink]="['./ng-model-feature']">双方向バインディング</a></li>
      <li><a [routerLink]="['./ng-model-feature']">双方向バインディング</a></li>
      <li><a [routerLink]="['./ng-model-feature']">双方向バインディング</a></li>
      <li><a [routerLink]="['./ng-model-feature']">双方向バインディング</a></li>
      <li><a [routerLink]="['./ng-model-feature']">双方向バインディング</a></li>
    </ul>
  </div>
  <div class="main">
    <router-outlet></router-outlet>
  </div>
</div>
